#-------------------#
# intellij/idea     #
#-------------------#
.idea
*.iml

#-------------------#
# bower             #
#-------------------#
bower_components

#-------------------#
# node              #
#-------------------#
node_modules

#-------------------#
# build             #
#-------------------#
webroot